.listAdherent
{
  padding: 0% 5%;
  margin-top: 4%;
  padding-bottom: 50%;
  margin-left: 20px;
}


.listAdherent>h1
{
  padding: 0;
  color: #484848;
  font-weight: normal;
  font-size: 28px;
  float: left;
}

.listAdherent>h1+h1
{
  margin-right: 7%;
  float: right;
  border: #dadada solid 0.5px;
  color: #cccaca;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  text-align: center;
}

.listAdherent>h1+h1:hover
{
  background-color:#77b748;
  color: white;
}

.listAdherent hr
{
width: 96%;
text-align:left;
margin-left:0;
border:  solid 0.5px #dadada;
margin-bottom: 2.5%;
}


.listAdherent section> *
{
  display:inline-table;
  margin: 10px 20px;
}